/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f8f8f8;
    padding: 5px 20px;
    margin: 0;
    border-bottom: 2px solid #007BFF;
}

.nav-link {
    margin: 0 5px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-link:hover {
    background-color: #555;
}

.user-logo {
    display: flex;
    align-items: center;
    position: relative;
}

.user-logo img {
    width: 25px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

/* Dropdown Styles */
.dropdown {
    display: none; /* Hide dropdown by default */
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.user-logo:hover .dropdown {
    display: block; /* Show dropdown on hover */
}

.dropdown a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

/* Main Container */
main {
    padding: 20px;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* One column */
    gap: 20px; /* Space between items */
    padding-bottom: 20px; /* Space for scroll arrows */
}

/* Grid Item Styles */
.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: left; /* Align text to the left */
    cursor: default; /* Change cursor to default */
}

/* Remove hover effect */
.grid-item:hover {
    transform: none; /* Remove scale on hover */
}

/* Item Details Styles */
.item-details {
    display: flex;
    justify-content: space-between; /* Space items apart */
    align-items: center; /* Center items vertically */
}

.item-text {
    flex-grow: 1; /* Allow text to grow and take available space */
    white-space: normal; /* Allow text to wrap */
    overflow-wrap: break-word; /* Break long words if necessary */
}

.speaker-icon {
    font-size: 24px;
    color: #007BFF; /* Icon color */
}

/* Scroll Arrow Styles */
.scroll-buttons {
    display: flex;
    justify-content: center; /* Center the scroll buttons */
    margin: 10px 0; /* Margin for spacing */
}

.scroll-arrow {
    border: none; /* Remove default button border */
    background: transparent; /* Transparent background */
    font-size: 24px; /* Adjust size */
    cursor: pointer; /* Change cursor to indicate clickable item */
    margin: 0 10px; /* Add margin for spacing */
    transition: color 0.3s; /* Add transition for hover effect */
}

.scroll-arrow:hover {
    color: #4CAF50; /* Change color on hover */
}
